body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

input[type='file'] {
    margin-bottom: 10px;
}

/* Table styles */
.table-container {
    margin-top: 20px;
    overflow-x: auto;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Button styles */
button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Split button styles */
#splitButton {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}

#splitButton {
    background-color: #007BFF;
}

#splitButton:hover {
    background-color: #0056b3;
}

/* Split Result Container styles */
#splitResultContainer, #expensesContainer {
    margin-top: 20px;
}

/* Custom styles for checkboxes */
input[type='checkbox'] {
    margin-right: 5px;
}

/* Custom style for Split To column */
.split-to-column {
    text-align: center;
}
